#result {
  display: none;
}

h1 {
  background-color: #FDFDA2;
  padding: 50px;
  text-align: center;
}

body {
  background-color: #CCCCCC;
}

.col-md-4 {
  width: 33%;
  float: left;
  background-color: #91c494;
  margin: 2px;
  padding: 6px;
  max-width: 500px;
}

.row-eq-height {
  height: 100%;
}
